.card-container {
    display: grid;
    grid-gap: 22px;
    grid-template-columns: repeat(auto-fill, 294px);    
    justify-content: center;
}

.title-home {
    font-size: 10px;
}

.center-title {
    margin-top: 10px;
}