.searchbar-container {
  min-width: 200px;
  width: 50%; 
  border-radius: 5px !important;  
  display: flex;  
  align-items: center; 
  margin: 0px 0px 0px 50%;
  .input-group {
    border: 1px solid #a59999 !important;
  }
  .form-group {
    margin: 0;
  }  
  
}

@media only screen and (max-width: 692px){
  .searchbar-container {
    margin: 0;
  }
}

.input-group {
  background-color: #fff !important;
}

.test {
  .input-group {
    border: none !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

.input-search {
  border-radius: 0.5rem!important;
}