.header-background {
  background: #660066;
}
.navbar-header {
  position: absolute;
  top: 0px;
  right: 100;
  width: 200px;
  height: 100px;
}


.text-white {
  color: #FFF !important;
  font-weight: bold;
  cursor: pointer;
}

.width-total{
  width: 100%;
}

.navbar-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

.navbar-link-mobile {
  display: flex;
  -webkit-flex-wrap: wrap;  
  justify-content: flex-end;
}
