.header-background {
  background: #BE17F8;
}
.navbar-header {
  position: absolute;
  top: 0px;
  right: 100;
  width: 200px;
  height: 100px;
}

.navbar-purple {
  background: #BE17F8;
}

.text-white {
  color: #FFF;
}