
.list-image-product {
    height: 100px;       
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.favorite-button {
    position: absolute;
    top: 0px;
    right: 100;
    width: 200px;
    height: 100px;
    left: 0px;
}

.card-itens-center {
    display: flex;
    justify-content: center;
    webkit-flex: 1 1 auto;
}

.price-text {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #ffcc00;
}

.center-title {
    margin-top: 10px;
}